body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    background-color: #c77ffc;
    padding: 5%;
    border-radius: 30px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #eeebfc;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #93b84e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a9f70f;
}

.album-container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photo-card {
    position: relative;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #ddd;
}

.album-title {
    padding: 20px;
    font-size: 1.5rem;
    color: #333;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.album-title:hover {
    color: #007bff;
    transition: color 0.3s ease;
}